.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  a {
    margin: 2rem;
    font-size: 4rem;
    color: $gray-text;
  }
}
.projects div {
  flex: 1 1 40rem;
  margin: 2rem auto;
  @include flex(center, center, column);
  width: 100%;
  padding: 0 2rem;
}
.project-img {
  width: 700px;
  height: 401px;
  border-radius: 2rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
}
