$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2.5rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4df);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@import "intro";
@import "global";
@import "projects";
@import "contact";
@import "footer";
@media screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}
@media screen and (max-width: 748px) {
  html {
    font-size: 45%;
  }
  svg {
    height: 50%;
  }
  .main-head {
    width: 100%;
  }
  nav {
    .logo {
      width: 100%;

      @include flex(center, center, column);
      flex: 1 1 20rem;
      margin-top: 2rem;
    }
    ul {
      flex: 1 1 60rem;
      margin: 2rem 0rem;
    }
  }
  .intro-text {
    margin: 5rem;
    text-align: center;
  }
  .intro-social {
    @include flex(center, center, row);
    a {
      margin: 2rem;
    }
  }
  .intro-images {
    @include flex(center, center, row);
  }
  .travelly,
  .waves,
  .todo,
  .weather {
    flex: 1 1 50rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  form {
    width: 100%;
    padding: 0;
  }
}
.about-me {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #154353;
  color: white;
  flex-direction: column;
  padding-bottom: 5rem;
}
.name {
  font-size: 5rem;
  padding: 2rem;
}
.about-me p {
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
  padding: 5rem 6rem;
  margin-bottom: 6rem;
}
.hero-img {
  padding: 6rem 0;
  width: 300px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}
.project-link {
  color: #154353;
  padding: 1.5rem 2.5rem;
  background: white;
  border-radius: 1rem;
  font-size: 2.5rem;
  border: 2px solid white;
  transition: all 0.2s ease-in;
}
.project-link:hover {
  background: #154353;

  color: white;
}
